# Ignore build-related folders
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

# Ignore user-specific files
*.sln.docstates
*.suo
*.user
*.vscode/
.vs/

# Ignore logs
*.log

# Ignore temp files
*.tmp
*.bak
*.swp
*~.nib

# Ignore compiled asset files
*.uasset
*.umap

# Ignore macOS .DS_Store files
.DS_Store
